<div class="grid-container">
  <h1 class="mat-h1">캐릭터 스펙</h1>
  <mat-form-field>
    <mat-select [formControl]="job" placeholder="직업">
      <mat-option *ngFor="let item of availableJobs" [value]="item.code">{{ item.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="level" placeholder="레벨" type="number">
  </mat-form-field>
  <div class="layout">
    <mat-tab-group [dynamicHeight]="true">
      <mat-tab label="레벨 스탯">
        <app-level-stat [level]="level.value" [job]="job.value"></app-level-stat>
      </mat-tab>
      <mat-tab label="하이퍼 스탯">
        <app-hyper-stat [level]="level.value"></app-hyper-stat>
      </mat-tab>
      <mat-tab label="아이템"></mat-tab>
      <mat-tab label="V 매트릭스">
        <app-v-matrix-stat [job]="job.value"></app-v-matrix-stat>
      </mat-tab>
      <mat-tab label="스킬">
        <app-skill-stat [job]="job.value"></app-skill-stat>
      </mat-tab>
      <mat-tab label="아케인 심볼">
        <app-arcane-symbol-stat [job]="job.value"></app-arcane-symbol-stat>
      </mat-tab>
      <mat-tab label="어빌리티"></mat-tab>
      <mat-tab label="유니온">
        <app-union-stat></app-union-stat>
      </mat-tab>
      <!-- <mat-tab label="어빌리티"></mat-tab> -->
      <mat-tab label="성향">
        <app-disposition-stat></app-disposition-stat>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>