<div class="grid-container">
  <h1 class="mat-h1">사냥터</h1>
  <div class="mat-caption">셀라스, 문브, 리멘, 세르니움 출처: https://gall.dcinside.com/board/view/?id=maplestory&no=13081693</div>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="fill">
      <mat-label>플레이어 레벨</mat-label>
      <input matInput type="number" formControlName="playerLevel" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>추가 경험치 배율</mat-label>
      <input matInput type="number" formControlName="expBuff" />
      <span matSuffix>%</span>
    </mat-form-field>
    <div formGroupName="filter">
      <mat-checkbox formControlName="여로">여로</mat-checkbox>
      <mat-checkbox formControlName="리버스">리버스</mat-checkbox>
      <mat-checkbox formControlName="츄츄">츄츄</mat-checkbox>
      <mat-checkbox formControlName="얌얌">얌얌</mat-checkbox>
      <mat-checkbox formControlName="레헬른">레헬른</mat-checkbox>
      <mat-checkbox formControlName="아르카나">아르카나</mat-checkbox>
      <mat-checkbox formControlName="모라스">모라스</mat-checkbox>
      <mat-checkbox formControlName="에스페라">에스페라</mat-checkbox>
      <mat-checkbox formControlName="셀라스">셀라스</mat-checkbox>
      <mat-checkbox formControlName="문브릿지">문브릿지</mat-checkbox>
      <mat-checkbox formControlName="미궁">미궁</mat-checkbox>
      <mat-checkbox formControlName="리멘">리멘</mat-checkbox>
      <mat-checkbox formControlName="세르니움(전)">세르니움(전)</mat-checkbox>
    </div>
  </form>
  <div class="margin-top mat-elevation-z8">
    <table
      mat-table
      #sort="matSort"
      [dataSource]="list"
      [trackBy]="trackByName"
      matSort
      aria-label="Elements"
    >
      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>지역</th>
        <td mat-cell *matCellDef="let row">{{ row.group }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>사냥터 이름</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc">몹젠수</th>
        <td mat-cell *matCellDef="let row">{{ row.count | number }}</td>
      </ng-container>

      <ng-container matColumnDef="countPerHour">
        <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc">
          1시간당 최대마리수
        </th>
        <td mat-cell *matCellDef="let row">{{ row.countPerHour | number }}</td>
      </ng-container>

      <ng-container matColumnDef="expPerHour">
        <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc">
          시간당 최대 순경험치
        </th>
        <td mat-cell *matCellDef="let row">{{ row.expPerHour | number:'.0-0' }}</td>
      </ng-container>

      <ng-container matColumnDef="mesoPerHour">
        <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc">
          시간당 최대 순메소
        </th>
        <td mat-cell *matCellDef="let row">{{ row.mesoPerHour | number:'.0-0' }}</td>
      </ng-container>

      <ng-container matColumnDef="burning">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          버닝 (0 ~ 10)
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-form-field>
            <input
              matInput
              (blur)="onBlur()"
              [ngModel]="row.burning"
              (ngModelChange)="setBurning(row, $event)"
            />
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        [style.backgroundColor]="row.backgroundColor"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
