<div class="wrapper">
  <h1 class="mat-h1">
    스킬 범위(베타)
  </h1>
  <canvas #canvas width="1280" height="1080"></canvas>
  <div class="container">
    <div cdkDrag>
      <div class="handle" cdkDragHandle>
        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
          <path
            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
          ></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </div>
      <div
        class="layer-container"
        cdkDropList
        [cdkDropListData]="layers"
        (cdkDropListDropped)="dropLayer($event)"
      >
        <div class="layer" *ngFor="let layer of layers" cdkDrag>
          <div class="content">
            <div class="layer-title">
              {{ layer.skill }}
              <mat-icon class="delete" (click)="deleteLayer(layer)"
                >clear</mat-icon
              >
            </div>
            <div class="row">
              <div class="column">
                <span>범위색상</span>
                <div>
                  <button
                    [style.color]="layer.color"
                    mat-stroked-button
                    [matMenuTriggerFor]="menu"
                  >
                    {{ layer.color }}
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      *ngFor="let color of palette"
                      [style.color]="color"
                      (click)="setLayerColor(layer, color)"
                      mat-menu-item
                    >
                      {{ color }}
                    </button>
                  </mat-menu>
                </div>
              </div>
              <div class="column">
                <span>스킬명 위치</span>
                <div>
                  <button mat-stroked-button [matMenuTriggerFor]="menu2">
                    {{ layer.namePosition }}
                  </button>
                  <mat-menu #menu2="matMenu">
                    <button
                      mat-menu-item
                      (click)="setLayerNamePosition(layer, '좌측 상단')"
                    >
                      좌측 상단
                    </button>
                    <button
                      mat-menu-item
                      (click)="setLayerNamePosition(layer, '우측 상단')"
                    >
                      우측 상단
                    </button>
                    <button
                      mat-menu-item
                      (click)="setLayerNamePosition(layer, '좌측 하단')"
                    >
                      좌측 하단
                    </button>
                    <button
                      mat-menu-item
                      (click)="setLayerNamePosition(layer, '우측 하단')"
                    >
                      우측 하단
                    </button>
                  </mat-menu>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <span>불투명도</span>
                <mat-slider
                  min="0"
                  max="1"
                  step="0.1"
                  [ngModel]="layer.alpha"
                  (ngModelChange)="setLayerAlpha(layer, $event)"
                ></mat-slider>
              </div>
              <div class="column">
                <span>스킬 보이기</span>
                <mat-slide-toggle
                  [ngModel]="layer.visible"
                  (ngModelChange)="setLayerVisible(layer, $event)"
                ></mat-slide-toggle>
              </div>
            </div>
          </div>
          <div class="handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <rect width="24" height="2"></rect>
              <rect y="8" width="24" height="2"></rect>
              <rect y="16" width="24" height="2"></rect>
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="search-container">
      <form [formGroup]="formGroup">
        <div class="row">
          <span>직업</span>
          <input formControlName="job" class="job-input" />
          <span>스킬명</span>
          <input formControlName="skill" class="skill-input" />
        </div>
      </form>
      <mat-list class="skill-list">
        <mat-list-item
          class="clickable"
          (click)="addLayer(skill)"
          *ngFor="let skill of skillList"
          >{{ skill.job }} | {{ skill.name }}</mat-list-item
        >
      </mat-list>
    </div>
  </div>
</div>
