.U {
  background-color: #fff9c4;
}

.I {
  background-color: #d1c4e9;
}

.H {
  background-color: #f9a825;
}

.W {
  background-color: #e0f7fa;
}

.F {
  background-color: #f3e5e5;
}

.X {
  background-color: #616161;
}
