<div class="grid-container">
  <h1 class="mat-h1">주문의 흔적 최적화</h1>
  <mat-grid-list [cols]="(isHandset$ | async) ? 1 : 2" rowHeight="750px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            정보 입력
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <form [formGroup]="formGroup" class="upgrade-form">
            <mat-form-field>
              <input formControlName="upgradeLimit" matInput placeholder="업그레이드 횟수 (황망 제외)">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="upgradePercentage" matInput placeholder="주문의 흔적 확률 (0~1)">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="upgradePrice" matInput placeholder="주문의 흔적 가격 (10,000 단위)">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="innocentPercentage" matInput placeholder="이노센트 주문서 확률 (0~1)">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="innocentPrice" matInput placeholder="이노센트 주문서 가격 (10,000 단위)">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="whitePercentage" matInput placeholder="순백의 주문서 확률 (0~1)">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="whitePrice" matInput placeholder="순백의 주문서 가격 (10,000 단위)">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="hammerPercentage" matInput placeholder="황금 망치 확률 (0~1)">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="hammerPrice" matInput placeholder="황금 망치 가격 (10,000 단위)">
            </mat-form-field>
          </form>
          <br>
          <button (click)="calculate()" mat-raised-button color="primary">계산</button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            강화표
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="cost">기대값: {{ cost | number }}억 메소</div>
          <br>
          <table>
            <thead>
              <tr>
                <th></th>
                <th *ngFor="let row of beforeHammer; index as i;">{{ i }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of beforeHammer; index as i;">
                <th>{{ i }}</th>
                <td [attr.class]="cell" *ngFor="let cell of row">
                  <span *ngIf="cell === 'U'">업글</span>
                  <span *ngIf="cell === 'I'">이노</span>
                  <span *ngIf="cell === 'H'">황망</span>
                </td>
              </tr>
            </tbody>
          </table>
          <table>
            <thead>
              <tr>
                <th></th>
                <th *ngFor="let row of afterHammer; index as i;">{{ i }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of afterHammer; index as i;">
                <th>{{ i }}</th>
                <td [attr.class]="cell" *ngFor="let cell of row">
                  <span *ngIf="cell === 'U'">업글</span>
                  <span *ngIf="cell === 'I'">이노</span>
                  <span *ngIf="cell === 'W'">순백</span>
                  <span *ngIf="cell === 'F'">완작</span>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>