.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.upgrade-form mat-form-field {
  width: 100%;
}

.chart {
  height: 240px;
  width: 100%;
}

:host /deep/ .elegant-card .mat-card-header-text {
  margin: 0;
}