<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <h3 mat-subheader>주문의 흔적</h3>
      <a mat-list-item routerLink="upgrade">
        <mat-icon mat-list-icon>bar_chart</mat-icon>
        <span mat-line>그래프</span>
      </a>
      <a mat-list-item routerLink="upgrade-matrix">
        <mat-icon mat-list-icon>format_list_numbered</mat-icon>
        <span mat-line>최적화</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="deal">
        <mat-icon mat-list-icon>blur_circular</mat-icon>
        <span mat-line>계산</span>
      </a>
      <a mat-list-item routerLink="arcane-force">
        <mat-icon mat-list-icon>blur_circular</mat-icon>
        <span mat-line>아케인포스</span>
      </a>
      <a mat-list-item routerLink="randombox">
        <mat-icon mat-list-icon>apps</mat-icon>
        <span mat-line>확률형 아이템</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Maple Calculator</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>