<div class="wrapper">
  <mat-card>
    <mat-card-title>
      환산 스탯
    </mat-card-title>
    <mat-card-content>
      <table class="vertical-table">
        <tbody>
          <tr>
            <th>STR</th>
            <td>{{ stat?.STR }}</td>
          </tr>
          <tr>
            <th>DEX</th>
            <td>{{ stat?.DEX }}</td>
          </tr>
          <tr>
            <th>INT</th>
            <td>{{ stat?.INT }}</td>
          </tr>
          <tr>
            <th>LUK</th>
            <td>{{ stat?.LUK }}</td>
          </tr>
          <tr>
            <th>MaxHP</th>
            <td>{{ stat?.maxHP }}</td>
          </tr>
          <tr>
            <th>MaxMP</th>
            <td>{{ stat?.maxMP }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
</div>