/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

table.vertical-table {
  border-collapse: separate;
  border: 1px solid #ccc;
  border-radius: 2px;
  border-spacing: 0;
}

table.vertical-table th {
  border-right: 1px solid #ccc;
  background-color: #fafafa;
  border-top: 1px solid #ccc;
  padding: 12px;
}

table.vertical-table td {
  min-width: 200px;
  padding: 12px;
  border-top: 1px solid #ccc;
}

table.vertical-table tr:first-child > th,
table.vertical-table tr:first-child > td {
  border-top: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.no-margin {
  margin: 0 !important;
}

.flexible-box {
  display: flex;
}

.vertical-center {
  align-items: center;
}

.horizontal-split {
  justify-content: space-between;
}

.mr-5 { margin-right: 5px !important; }
.mb-5 { margin-bottom: 5px !important; }
